/* The Modal (background) */
.SCMS_modal {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	padding-top: 10px;
	/* Location of the box */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.4);
	/* Black w/ opacity */
	font-size: 14px;
	font-family: system-ui;
}

/* Modal Content */
.SCMS_modal .modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

/* The Close Button */
.SCMS_modal .close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.SCMS_modal .close:hover,
.SCMS_modal .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.displayFlex {
	display: flex;
	align-items: center;
}

.SCMS_modal .w80 {
	width: 90%;
}

.SCMS_modal .basis20px {
	flex-basis: 100px;
}

.SCMS_modal .flex1 {
	flex: 1;
}

.SCMS_modal .row {
	padding: 10px;
}

.SCMS_modal .mt45 {
	margin-top: 45px;
}

.SCMS_modal .inputBox {
	height: 20px;
	border-radius: 5px;
	border: 1px grey solid;
	padding: 10px;
}

.SCMS_modal .inputArea {
	height: 150px;
	border-radius: 5px;
	border: 1px grey solid;
	padding: 10px;
}

.SCMS_modal .inputBtn {
	border: 1px solid grey;
	padding: 10px 20px;
	background: #1b78c9;
	color: white;
	font-weight: bold;
	cursor: pointer;
}

.SCMS_modal .btnContainer {
	display: flex;
	justify-content: flex-end;
	flex: 1;
	padding-right: 100px;
}

.SCMS_modal .titleFont {
	font-size: 24px;
}
